.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.alert {
  position: relative;
  z-index: 1;
  top: 2rem;
  height: '50px'
}

.container-admin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  
}

.card {
  background-color: #F9F5F6;
}
.container-admin .form-group {
  
  width: 30rem;
  padding-bottom: 15px;
}

.form-group button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form-group label {
  font-weight: bolder;
}

.LoginForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  
}

.card .card-title {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card-body {
  width: 25rem;
  height: 25rem;
}

.card-body .form-group {
  
  padding-bottom: 20px;
  
}


/* Move the "Logout" link to the right end of the navbar */
.d-flex {
  text-decoration: none;
  color: #F9F5F6;
}

#button button{
  background-color: #e7e7e7; color: black;
  border : none;
  
}

.project-buttons {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.project-buttons button {
  width: 100px;
  height: 100px;
  margin: 50px; /* Optional margin between buttons */

  /* Add the hover effect */
  background-color: #F6F4EB; /* Initial background color */
  transition: background-color 0.3s ease; /* Transition effect */

  /* Center the text within the button */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}


.project-buttons button:hover {
  background-color: #D8D9DA; /* Background color on hover */
}

.footer{
  display: flex;
  justify-content: center;

}

.footer button{
  margin: 100px;
  width: 50px;
  height: 50px;
  border-radius : 30px;
}

.Letter {
  display: flex;
  justify-content: center;
  text-align: justify;

}

.Letter textarea{
  width: 50rem;
  height: 30rem;
  
  border-radius: 5px;
  border-color: #282c34;
  text-align: justify;
  white-space: normal;
}

textarea{
  text-align: justify;
}

/* style for letter/document body */
.doc-body {
  display: flex;
  justify-content: center;
  
}

.doc-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.doc-buttons button {
  /* width: 9rem;
  height: 9rem; */
  height: 60px;
  margin: 20px;
  border-radius: 30px;
  border: none
}

.actual-document {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
  border: 1px solid;
  border-radius: 50px;
  padding: 50px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 5px 10px;
}


.actual-document h3 {
  margin-left: 50px;
}
.actual-document p {
  text-align:justify;
  margin: 0px 50px 0px 50px ;
  
}

.actual-document button {
  display: inline-block;
  margin: 0px 5px 0px 50px;
  height: 50px;
  width: 70px;
  border-radius: 30px;
  border: none;
}



